<div class="loginForm">
    <img src="./img/bookmyshow.png">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="vm.userName">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="vm.password">
        </label>
    </div>
    <button class="button button-full button-assertive" ng-click="vm.login()">
        LOGIN
    </button>
    
</div>
<ion-checkbox ng-model="filter.pink">Keep me logged in</ion-checkbox>