<div class="list">
    <label class="item item-input item-select">
        <div class="input-label">
            Select your city:
        </div>
        <select>
            <option>TVM</option>
            <option selected>EKM</option>
        </select>
    </label>
</div>
<div class="movieList">
    <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="movieList in  vm.movieLists" ui-sref="app.home.theatre">
            <img ng-src="./img/{{movieList.img}}">
            <h2>{{movieList.name}}</h2>
            <p>{{movieList.desc}}</p>
        </a>
    </div>
</div>