<div class="list">
    <label class="item item-input item-select">
        <div class="input-label">
            Select your city:
        </div>
        <select>
            <option>TVM</option>
            <option selected>EKM</option>
        </select>
    </label>
    <a class="item item-thumbnail-left">
        <img src="/img/movie1.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left">
        <img src="/img/movie2.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
    </a>
</div>