/* Empty. Add your own CSS if you like */

body {
    overflow: hidden;
}

#content {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginForm {
    margin: auto;
    top: 10%;
    text-align: center;
}

.loginForm img {
    width: 180px;
}

.item {
    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
}

.loginForm .list,
.loginForm .button {
    margin-top: 50px;
}

.loginForm .button {
    border-radius: 4px;
}

.item-select select {
    background-color: transparent;
}

.movieList .item {
    border-width: 0;
}

.movieList .item p {
    color: black;
}

.profileImg {
    text-align: center;
    padding-top: 10%;
}

.profileImg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profileData input,
.item-radio .item-content {
    background-color: transparent;
}

.profileData .item {
    border: 0;
}

.showTime {
    width: 100%;
}

.view-container {
    height: auto;
}

.checkbox input, .checkbox-icon {
    width: 20px;
    height: 20px;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #EF473A;
    border-color: #EF473A;
}

.checkbox input:after,
.checkbox-icon:after {
    top: 31%;
    width: 10px;
}

.item-checkbox .checkbox {
    left: 25px;
    margin-top: -17px;
}

.help-block {
    color: #FF0000;
    font-size: 10px;
}

.checkbox.checkbox-input-hidden input {
    display: block !important;
    position: absolute;
}